.auth-modal {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 50px;
  width: 100%;
  height: 100%;
  background: none;
}

.auth-form {
  display: flex;
  align-items: center;
  z-index: 15;
  background: var(--white);
  flex-direction: column;
  border-radius: 6px;
  text-align: left;
  width: 97vw;
  padding: 35px 25px;
  box-shadow: 0px 2px 5px 0px rgba(35, 35, 35, 0.5);
  position: fixed;
}

.auth-form input {
  box-shadow: 0px 2px 5px 0px rgba(35, 35, 35, 0.5);
  border: none;
  width: 100%;
  padding: 20px;
  font-size: 14px;
}

.auth-form button {
  box-shadow: 0px 2px 5px 0px rgba(35, 35, 35, 0.5);
  border: none;
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background: var(--red);
  color: var(--white);
  cursor: pointer;
}

.faded {
  position: absolute;
  width: 100%;
  /* height: 100%; */
}

.faded:before {
  content: "";
  cursor: pointer;
  opacity: .6;
  position: fixed;
  background: var(--black);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9;
}

.switch-modal-info {
  margin-top: 15px;
}

.switch-modal-link {
  color: blue;
  display: inline-block;
}

.passwordInputs {
  display: flex;
  flex-flow: column;
  width: 100%;
}

@media all and (max-width: 709px) {

  .signupForm {
      margin: 1rem;
      min-width: 12rem;
      max-width: 16rem;
  }
}

@media all and (max-width: 610px) {
  .credentialForm {
      width: 75%;
  }

}

.credentialTitle {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 1.5rem;
  align-self: center;
  border-style: none;
  color: black;
}

.auth-form-field {
  width: 100%;
  margin-bottom: 1rem;
}

.credentialInput {
  width: 20rem;
  height: 2rem;
  /* border-radius: 10px, 2px, 2px, 2px; */
  padding-left: 0.5rem;
  background-color: #ffffff;
}

.form-error-field {
  color: var(--red);
  font-size: 14px;
  margin: 0;
  margin-top: 1rem;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
  min-width: 100%;
}

.login-error-message {
  color: var(--red);
  font-size: 14px;
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
  min-width: 100%;
}

.login-message {
  color: red;
}

/* ==============  Responsive Changes  ================ */
/* Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .auth-form {
    width: 65vw;
    padding: 20px 25px;
  }

  .auth-modal { 
    padding: 10px 0;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .auth-form {
    width: 40vw;
    padding: 30px 25px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .auth-form {
    width: 35vw;
    padding: 25px;
  }
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  .auth-form {
    width: 30vw;
  }
}