.comment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
}

.comment-bet {
  border-radius: 3px;
  height: 80%;
  background: purple;
  color: var(--white);
  padding: 4px;
  justify-self: flex-end;
  display: flex;
  align-items: center;
}

.comment-bet-size {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 18px;
}

.comment-user-info {
  height: 100%;
  display: flex;
  align-items: center;
}

.comment-user-avatar {
  height: 100%;
  margin-right: 10px;
}

.username {
  font-size: 19px;
}

.comment-bet-team-icon {
  height: 100%;
}

.comment-pizza-icon {
  height: 100%
}

.comment-arrow-icon {
  height: 12px;
  margin: 0 3px;
}

.comment-card {
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  border-bottom: solid;
  border-color: #ebebeb;
  box-shadow: 0px 2px 5px 0px rgba(35, 35, 35, 0.5); 
  padding: 15px;
}

.comment-owner {
  margin-left: 1rem;
  font-size: 1.2rem;
  grid-area: name;
}

.comment-time {
  grid-area: time;
}

.comment-avatar {
  grid-area: avatar;
  width: 100px;
  height: auto;
}

.comment-details {
  display: grid;
  grid-template-columns: 4fr 1.3fr 1.2fr;
  grid-template-areas: "name bet time";
  grid-area: details;
  align-items: center;
}

/* .comment-text {
  grid-area: text;
  padding-left: 1rem;
  white-space: normal;
  margin-top: -1rem;
} */

.betDetails {
  width: -webkit-fill-available;
  grid-area: bet;
  align-items: flex-end;
  margin-left: 1rem;
  text-align: end;
  margin-bottom: 1rem;
}

#bet-amount {
  /* margin-right: 0.5rem; */
  font-size: small;
}

#pizzaSlice {
  margin-right: 0.3rem;
}

.spanComment {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

.bet-logo {
  max-height: 25px;
  margin-left: 0.3rem;
}

/* ============ Comment Footer =========== */

.comment-footer {
  display: flex;
  justify-content: space-between;
}

.comment-time-ago {
  font-weight: 300;
  font-size: 12px;
}

.comment-reply-button {
  background: none;
  border: none;
  outline: none;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
}

.comment-replies-toggle {
  color: blue;
  background: none;
  border: none;
  outline: none;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 5px;
}

/* ============= reply input form ============= */
.reply-input-container {
  width: 100%;
  box-shadow: 0px 2px 5px 0px rgba(35, 35, 35, 0.5);
  padding: 15px;
}

.reply-input-header {
  height: 35px;
}

.reply-input-text {
  width: 100%;
  background: none;
  border: none;
  outline: none;
  resize: none;
  font-size: 16px;
  height: 50px;
}
