.credentialForm {
    display: flex;
    flex-flow: column;
    /* flex-direction: row; */
    margin-left: 7vw;
    align-self: center;
    background: white;
    border-radius: 2rem;
    text-align: left;
    width: 27rem;

}

.submitButton {
    height: 2rem;
    width: 20rem;
    margin-top: 1rem;
    align-self: center;
    background-color: rgb(228, 43, 43);
    color: white;
    border-style: none;
}

.submitButton:hover {
    background-color: darkred;
    color: white;
}


.credentialTitle {
    margin-top: 0;
    margin-bottom: 3rem;
    font-size: 1.5rem;
    align-self: center;
    border-style: none;
    color: black;
}

.credentialInput {
    width: 20rem;
    height: 2rem;
    margin-bottom: 1rem;
    /* border-radius: 10px, 2px, 2px, 2px; */
    padding-left: 0.5rem;
    background-color: #ffffff;
}

/* .credentialDescription {
    font-size: 12px;
    align-self: center;
} */
/* #signupPasswordConfirmInputValue.credentialInput {} */

.passwordInputs {
    display: flex;
    flex-flow: column;
    width: 100%;
}

@media all and (max-width: 709px) {

    .signupForm {
        margin: 1rem;
        min-width: 12rem;
        max-width: 16rem;
    }
}

@media all and (max-width: 610px) {
    .credentialForm {
        width: 75%;
    }

}