.clickableBackground {
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 40px;
  padding-right: 40px;
  background: #5c5c5c;
  width: 100%;
  z-index: 1;
  height: 100%;
}

.gameListContainer {
  height: 100%;
}

.gamesListHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--navPadding);
  align-items: center;
}

.gamesListTitle {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 18px;
}

.sliceNumberHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20%;
}

.gamesListHeaderRight {
  display: flex;
  flex-direction: row;
  width: 30%;
  justify-content: flex-end;
  align-items: center;
}

#weeks {
  display: block;
  font-size: 16px;
  padding: 0rem 0rem 0rem 1rem;
  border-radius: 10px;
  height: 30px;
  width: 100%;
  margin: initial;
  background-color: var(--white);
}

.changeViewButton {
  height: 30px;
  width: 40px;
}

.gamesListGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  align-items: center;
  justify-items: center;
  grid-gap: 2rem;
  padding: var(--navPadding);
  padding-bottom: 25px;
}

#columnButton {
  background: url(../images/column-toggle.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  border-radius: 0px 10px 10px 0px;
}

#listButton {
  background: url(../images/list-toggle.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  border-radius: 10px 0px 0px 10px;
}

.weeksButtonContainer {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.weeksButton {
  height: 25px;
  width: 75px;
  border-radius: 5px;
}

/* ==============  Responsive Changes  ================ */
/* Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .gamesListTitle {
    font-size: 18px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .gamesListTitle {
    font-size: 18px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .gamesListTitle {
    font-size: 20px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1400px) { 
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1900px) { 
  .gamesListGrid {
    grid-template-columns: repeat(auto-fill, minmax(21rem, 1fr));
  }

  .gamesListTitle {
    font-size: 25px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 2200px) { 
  .gamesListGrid {
    grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
  }

  .gamesListTitle {
    font-size: 35px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 2500) { 
  .gamesListGrid {
    grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
  }

  .gamesListTitle {
    font-size: 18px;
  }
}
