.gameHeader {
  padding: 25px;
}

.logoContainer {
  height: 70px;
}

.gameDate {
  text-align: center;
  font-weight: 400;
  margin-top: 0;
}

.gameScore {
  font-family: var(--main-font);
  font-weight: 100;
  text-align: center;
  font-size: 40px;
}

.teamName {
  font-weight: 600;
  font-size: 18px;
}

.away {
 margin-left: 15px;
 text-align: left;
}

.home {
  margin-right: 15px;
  text-align: right;
}

.teamText {
  font-weight: 200;
}

.teams {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.vs {
  font-size: 30px;
  font-weight: 100;
}

.teamLogo {
  height: 100%;
}

.teamContainer {
  display: flex;
  align-items: center;
}