.button {
  background: var(--red);
  color: var(--white);
  border: none;
  display: block;
  border-radius: 3px;
  padding: 7px;
  font-size: 15px;
  float: right;
}

.username {
  font-size: 150%;
}

/* #pizzaSlice {
  margin-left: 0.7rem;
} */

.game-thread {
  background: var(--white);
  width: 100%;
  justify-self: center;
  grid-column: 1/5;
}

.game-thread-content {
  margin-top: 25px;
  padding: 25px;
}

.game-thread-nav {
  background: var(--red);
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
  margin: 0;
}

.teams {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.team-name {
  font-weight: 600;
  font-size: 20px;
}

.vs {
  font-size: 50px;
  font-weight: 100;
}

.predictions {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.prediction-counter {
  width: 50%;
  display: flex;
  flex-direction: row;
}

.team-text {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  align-items: center;
}

.away-team-prediction {
  display: flex;
  justify-content: flex-start;
  color: var(--white);
  padding: 7px 15px;
  background: var(--red);
  border-right: none;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.home-team-prediction {
  display: flex;
  justify-content: flex-end;
  color: var(--white);
  padding: 7px 15px;
  background: #002243;
  border-left: none;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.game-thread-nav-items {
  list-style: none;
  margin: 0;
  padding: 0;
  float: center;
  width: 95%;
  position: absolute;
  text-align: center;
  z-index: 1;
}

.backbuttonDude {
  z-index: 3;
}

.logoContainer {
  width: 175px;
  height: 115px;
}

.teamLogo {
  height: 100%;
  width: 100%;
}

#timeAgo {
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
  width: 79%;
}

.game-thread-nav-item {
  color: var(--white);
  text-align: center;
  font-family: var(--main-text);
  display: inline-block;
  cursor: pointer;
  margin-left: 25px;
  margin-right: 25px;
}

.game-thread-close-btn {
  background: none;
  float: left;
  cursor: pointer;
  border: none;
  color: var(--white);
  outline: none;
  width: max-content;
}

/*
================= Discussion container ===========
*/

.discussion-container {
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  padding: 15px 25px;
  margin-top: 25px;
}

/*
================= Betting section ===========
*/

.betting-container {
  display: grid;
  display: grid;
  grid-template-columns: 1.2fr 1.5fr 2fr;
}

.bet-selector-btn {
  background: var(--grey);
  display: block;
  margin-bottom: 7px;
  margin-left: 0.5rem;
  text-align: center;
  color: var(--white);
  cursor: pointer;
  padding: 10px;
  width: 80%;
  border: none;
  text-shadow: 0.5px 0.5px var(--black);
}

.bet-selector-btn:focus {
  outline: 0;
}

.toggle {
  background: var(--red);
}

.hide {
  visibility: hidden;
  position: absolute;
}

.input-comment-field {
  width: 100%;
  height: 150px;
  outline: none;
  resize: none;
}

.slice-allocation {
  display: flex;
  flex-direction: column;
}

.bet-size-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.bet-size-indicator {
  color: var(--black);
  margin-left: 5px;
}

.selectionContainer {
  display: flex;
  flex-direction: column;
}

/*
================= Comment section ===========
*/
