.clickableBackground {
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 40px;
  padding-right: 40px;
  background: #5c5c5c;
  width: 100%;
  z-index: 1;
  height: 100%;
}

.gameListContainer {
  height: 100%;
}

.gamesListHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 40px;
}

.gamesListTitle {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sliceNumberHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20%;
}

.gamesListHeaderRight {
  display: flex;
  flex-direction: row;
  width: 30%;
  justify-content: flex-end;
  align-items: center;
}

#weeks {
  display: block;
  font-size: 16px;
  padding: 0rem 0rem 0rem 1rem;
  border-radius: 10px;
  height: 30px;
  margin: initial;
  background-color: #ebebeb;
}

.changeViewButton {
  height: 30px;
  width: 40px;
}

.gamesListGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  align-items: center;
  justify-items: center;
  grid-gap: 2rem;
  padding: 0 40px;
}

#columnButton {
  background: url(../images/column-toggle.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  border-radius: 0px 10px 10px 0px;
}

#listButton {
  background: url(../images/list-toggle.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  border-radius: 10px 0px 0px 10px;
}

.weeksButtonContainer {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.weeksButton {
  height: 25px;
  width: 75px;
  border-radius: 5px;
}
