.button {
  background: var(--red);
  color: var(--white);
  border: none;
  display: block;
  border-radius: 3px;
  padding: 7px;
  font-size: 15px;
  float: right;
}

.game-thread {
  background: var(--white);
  margin: 0 110px;
}

.game-thread-content {
  margin-top: 25px;
  padding: 25px;
}

.game-thread-nav {
  background: var(--red);
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
  margin: 0;
}

.teams {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.team-name {
  font-weight: 600;
  font-size: 20px;
}

.vs {
  font-size: 50px;
  font-weight: 100;
}

.predictions {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.prediction-counter {
  width: 50%;
}

.team-text {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  align-items: center;
}

.home-team-prediction {
  display: inline-flex;
  justify-content: flex-start;
  color: var(--white);
  padding: 7px 15px;
  background: var(--red);
  border-top: 1px solid var(--red);
  border-bottom: 1px solid var(--red);
  border-left: 1px solid var(--red);
  border-right: none;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  width: 25%;
}

.away-team-prediction {
  display: inline-flex;
  justify-content: flex-end;
  color: var(--white);
  padding: 7px 15px;
  background: #002243;
  border-top: 1px solid #002243;
  border-bottom: 1px solid #002243;
  border-right: 1px solid #002243;
  border-left: none;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 75%;
}

.game-thread-nav-items {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.game-thread-nav-item {
  color: var(--white);
  text-align: center;
  font-family: var(--main-text);
  display: inline-block;
  cursor: pointer;
  margin-left: 25px;
  margin-right: 25px;
}

.game-thread-close-btn {
  background: none;
  float: right;
  cursor: pointer;
  border: none;
  color: var(--white);
  display: inline-block;
  outline: none;
}

/*
================= Discussion container ===========
*/

.discussion-container {
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  padding: 15px 25px;
  margin-top: 25px;
}

/*
================= Betting section ===========
*/

/* .winner-selection {
  text-align: center;
} */

.betting-container {
  display: grid;
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
}

.bet-selector-btn {
  background: var(--light-grey);
  display: block;
  margin-bottom: 7px;
  text-align: center;
  color: var(--white);
  cursor: pointer;
  padding: 5px;
  width: 50%;
}

.bet-selector:checked + label {
  background: var(--red);
}

.hide {
  visibility: hidden;
  position: absolute;
}

.input-comment-field {
  width: 100%;
  height: 150px;
  outline: none;
  resize: none;
}

.slice-allocation {
  display: flex;
  flex-direction: column;
}

.bet-size-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  align-self: center;
}

.bet-size-indicator {
  color: var(--black);
  margin-left: 5px;
}

/*
================= Comment section ===========
*/

.user-avatar {
  height: 90px;
  border-radius: 50%;
}

.comment {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.comment-body {
  display: inline-block;
  margin-left: 25px;
}

.bet-logo {
  max-height: 25px;
}
