.GameCard {
  border: solid 1px black;
  border-radius: 5px;
  width: 100%;
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.GameCard:before {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.Away {
  height: 100%;
  width: 100%;
  background-color: #0b162a;
  clip-path: polygon(0 0, 0% 100%, 100% 0);
  position: absolute;
}

.AwayImg {
  margin-top: 0%;
  height: 55%;
  opacity: 0.5;
}

.Home {
  height: 100%;
  width: 100%;
  clip-path: polygon(100% 100%, 0% 100%, 100% 0);
  position: absolute;
}

.HomeImg {
  margin-top: 40%;
  margin-left: 16%;
  height: 50%;
  opacity: 0.5;
}
.GameInfo {
  position: absolute;
  z-index: 1;
  height: 60%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.705);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Title {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}

.TeamKey {
  font-family: var(--main-font);
  font-size: 2rem;
}

.Versus {
  font-family: 'Roboto', sans-serif;
  font-size: 38px;
  font-weight: 100;
  text-shadow: 2px 2px var(--black);
}

.thefuckingthreadcontainer {
  display: inline-grid;
  width: 100%;
  position: absolute;
}

.modal-page-container {
  display: contents;
}

.team-and-score {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-shadow: 2px 2px var(--black);

}

.game-card-score-indicator {
  font-size: 25px;
  font-weight: 300;
}

.date {
  margin-top: 15px;
  text-shadow: 2px 2px var(--black);
}