.GamesListHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.GamesListTitle {
  text-align: center;
  margin: 2rem;
}

.GamesListHeaderRight {
  display: flex;
  flex-direction: row;
  width: 30%;
  justify-content: space-between;
  align-items: center;
}

.changeViewButton {
  height: 25px;
  width: 40px;
}

.WeeksButtonContainer {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.WeeksButton {
  height: 25px;
  width: 75px;
  border-radius: 5px;
}

.GamesListGrid {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  align-items: center;
  justify-items: center;
  grid-gap: 2rem;
}
