.gameHeaderContent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameInfoHeader {
  background-color: var(--grey);
  color: var(--white);
  padding: calc(var(--spacing) / 2);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--borderRadius) var(--borderRadius) 0 0;
}

.gameDate {
  text-align: center;
  font-weight: 800;
  font-size: 16px;
  margin: 0;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.game-score-container {
  font-family: var(--main-font);
  font-weight: 100;
  text-align: center;
  font-size: 40px;
}

.game-score {
  text-align: center;
}

.teamName {
  font-weight: 600;
  font-size: 16px;
}

.away {
 margin-left: 10px;
 text-align: left;
}

.home {
  margin-right: 10px;
  text-align: right;
}

.teamText {
  font-weight: 200;
}

.score-container {
  display: flex;
  flex: .5;
  justify-content: center;
  padding: var(--spacing);
  white-space: nowrap;
}

.score-text {
  font-size: 30px;
  font-weight: 200;
}

.teamLogo {
  /* width: 100%; */
  max-height: 40px;
}

.team-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* .team-container-away {
  justify-content: flex-start;
}

.team-container-home {
  justify-content: flex-end;
} */

/* ==============  Responsive Changes  ================ */
/* Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .away {
    margin-left: 15px;
   }
   
   .home {
     margin-right: 15px;
   }

  .teamName {
    font-size: 1.2rem;
  }

  .score-text {
    font-size: 35px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}