@import "./variables.css";

header {
  display: flex;
  width: 100vw;
  background-color: #232323;
  padding: var(--navPadding);
}


.slicepiece {
  margin-top: 1.5vw;
}

ul {
  padding-inline-start: 0px;
}

nav {
  width: 100%;
}

.sliceLogo {
  height: 75px;
  /* margin-left: 4%; */
}

.logo {
  /* margin-left: 3%; */
  height: 100%;
  width: 10rem;
  cursor: pointer;
}

.links {
  list-style: none;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 0;
  margin-top: 0;
}

.linkNames {
  margin-left: 0rem;
  font-size: 16px;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: 1rem;
}

.specificLinks {
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all ease-in-out 0.4s;
  text-decoration: none;
  /* color: #a8a8a8; */
  color: var(--white);
}

.specificLinks:hover {
  border-bottom-color: #f9f8f7;
}

.loginButton {
  /* font-size: 20px; */
  color: #f9f8f7;
  margin-left: 0.5rem;
  background-color: var(--red);
  padding: 5px 10px;
  border-radius: var(--borderRadius);
  border: none;
  cursor: pointer;
}

.logintext {
  font-size: 16px;
}

.logoutPizzaCount {
  display: flex;
  background-color: #F3A82E;
}

.slices {
  color: var(--white);
  font-size: 16px;
}

.pizzaContainer {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.container {
  width: 100vw;
}

.profile {
  width: 2rem;
  display: none;
}

button.login-button {
  background: var(--red);
  padding: 5px 10px;
  font-size: 16px;
}

.logoutPizzaCount {
  display: block;
}

.profileimg {
  width: 2rem;
  padding: 0;
}

.pizzaContainer {
  /* background: #232323; */
  border: none;
}

/* ==================== USER BUTTON ==================== */

.accountButtonContainer {
  height: 100%;
  display: flex;
  align-items: center;
}

.accountDropdown::before {

}

.accountDropdown {
  position: relative;
  height: 100%;
  /* display: flex; */
  /* align-items: center; */
}

.accountDropdownContent {
  position: absolute;
  display: block;
}

.accountButton {
  padding: 5px 12px;
  background: var(--red);
  /* border: var(--white) 2px solid; */
  border: none;
  border-radius: var(--borderRadius);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.accountIcon {
  height: 20px;
}

.pizzalogo {
  height: 15px;
  margin-right: 2px;
}

.accountDropdownContentInner {
  position: relative;
  padding: 25px 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.accountDropdownContentInner:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 5px 10px;
  border-color: transparent transparent var(--white) transparent;
  /* background: var(--white); */
  top: -5px;
  right: 0;
}

.accountDropdownContent {
  z-index: 1;
  background: var(--white);
  color: var(--black);
  border-radius: 0px 0px var(--borderRadius) var(--borderRadius);
  right: 0;
  width: 125px;
  display: flex;
  justify-content: flex-end;
}

.logOutButton {
  background: var(--red);
  border: none;
  border-radius: var(--borderRadius);
  color: var(--white);
  font-size: 16px;
  cursor: pointer;
  padding: 3px 10px;
}

@media only all and (max-width: 400px) {
  .logo {
    margin-right: 1rem;
    width: 6rem;
  }
}

@media only all and (min-width:400px) and (max-width: 575px) {

  .logo {
    width: 7rem;
    margin-right: 3rem;
  }

  .linkNames {
    font-size: 1rem;
  }


  .specificLinks active {
    padding: 0;
  }

  .profileimg {
    width: 1.5rem;
    padding: 0;
  }
}

/*Small devices (landscape phones, 576px and up) */
@media only all and (min-width: 576px) {

}

/*Medium devices (tablets, 768px and up) */
@media only all and (min-width: 768px) {
  .linkNames, .logintext {
    font-size: 18px;
  }
}

/*Large devices (desktops, 992px and up)*/
@media only screen and (min-width: 992px) {}