.top {
    display: flex;
    min-width: 1100;
}

.boards {
    display: flex;
}

.leftside {
    display: flex;
    /* min-width: 400px; */
    margin: auto;
}

.Searchform {
    max-width: 800px;
    margin: auto;
    margin-top: 1rem;
    display: flex;
    border: none;
    border: 2px;
    border-radius: 2px;
    box-shadow: 1px 1px 2px 0.5px;
    background-color: white;

}

#weekform {
    margin-top: 1rem;
    display: none;
}

select {
    margin-left: 1rem;
    width: 100%;
    padding: 7px 2px;
    border: none;
    border-radius: 4px;
    color: black;
    font-weight: 700;
    font-size: 0.83em;
    background-color: white;
}

.friend-board {
    margin: auto;
    margin-top: 0;
}

.table-header {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    text-align: center;
    margin-top: 1rem;
}

.index {
    border-right: red;
}

.table-items {
    color: rgba(0, 0, 0, 0.87);
    font-weight: 400;
    padding: 14px 40px 14px 16px;
    font-size: 1rem;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    vertical-align: inherit;
    text-align: center;
}

.leader-table {
    margin: auto;
}

#users tr:nth-child(even) {
    /* background-color: #f2f2f2; */
    background-color: rgba(240, 194, 29, 0.05);
}

#users tr:hover {
    background-color: #ddd;
}

#users th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: var(--red);
    color: white;
}

#users {
    text-align: center;
    color: blue;
    font-size: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 93vw;
    margin-top: 1rem;
}

#users td,
#users th {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 10px;
}

#users th {
    border-color: transparent;
    font-weight: 500;
    /*Working font-weight for headers*/
}

#users td {
    color: black;
}

#season,
#weekly {
    padding: 0.5rem 2rem 0.5rem 2rem;
    margin-top: 1rem;
    margin-left: 3.85rem;
    font-size: 1rem;
    border: none;
    border-radius: 2px 2px 2px 2px;
    text-decoration: none;
    background-color: white;
    color: black;
    box-shadow: 1px 1px 2px;
    cursor: pointer;
}

#weekly {
    margin-left: 0.5rem;
}

#season:hover,
#weekly:hover {
    /* box-shadow: 1px 1px 5px; */
    background-color: var(--red);
    color: white;
}

h2 {
    font-size: 1.3rem;
}

#season:focus,
#weekly:focus {
    background-color: var(--red);
    color: white;
}

.filterbuttons {
    margin-left: 20rem;
    /* display: flex; */
}

.LeaderboardSearchIcon {
    margin: auto 1rem auto 1rem;
}

input[type=search] {
    padding: 10px;
    justify-content: center;
    width: 20rem;
    border-style: none;
    background: transparent;
}

input:focus {
    outline: none;
}

::placeholder {
    text-align: center;
}

input[type=search] {
    border-style: none;
    background: transparent;

}

.leaderboard>span {
    padding: 0.2rem 0.5rem;
    text-align: bottom;
    /* border-bottom: 1px solid black; */
}

.leaderboardtext {
    margin-top: 1rem;
}

@media only screen and (max-width: 1150px) {
    .filteredbuttons {
        margin: 0;
    }

    .leftside {
        margin: auto;
    }
}


@media only screen and (max-width: 1000px) {
    .filteredbuttons {
        margin: 0;
    }

    .top {
        display: block;
    }

    #season,
    #weekly {
        padding: 0.5rem 1rem 0.5rem 1rem;
    }
}