.titleAndWeek {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.leaderboardtext {
    font-size: 16px;
}

.filterbuttons {
    /* margin-left: 7.5rem; */
    margin-top: 0;
    display: flex;
    align-content: flex-end;
}

#weekform {
    margin-left: 15px;
}

.top {
    display: flex;
    padding: var(--navPadding);
    margin-top: 15px;
    flex-direction: column;
}

.boards {
    display: flex;
    padding: var(--navPadding);
    padding-bottom: 25px;
}

.leftside {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.rightside {
    display: flex;
    align-items: center;
}

.Searchform {
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    border: none;
    border: 2px;
    border-radius: 2px;
    box-shadow: 0px 1px 9px 0px rgba(35, 35, 35, 0.22);
    background-color: white;
    width: 100%;
    font-size: 14px;
    /* justify-content: right; */
}

.Searchform input {
    width: 100%;
}

#weekform {
    display: none;
}

select {
    width: 3rem;
    padding: 0.2rem 0.1rem 0.2rem 0.1rem;
    border: none;
    border-radius: 4px;
    color: black;
    font-weight: 700;
    font-size: 0.83em;
    background-color: white;
}

.friend-board {
    margin: auto;
    margin-top: 0;
}

.table-header {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    text-align: center;
    margin-top: 1rem;
}

.index {
    border-right: red;
}

.table-items {
    color: rgba(0, 0, 0, 0.87);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    vertical-align: inherit;
    text-align: center;
}

.leader-table {
    width: 100%;
    display: flex;

}

#users tr:nth-child(even) {
    /* background-color: #f2f2f2; */
    background-color: rgba(240, 194, 29, 0.05);
}

/* #users tr:hover {
    background-color: #ddd;
} */

#users th {
    text-align: center;
    background-color: var(--red);
    color: white;
    border-color: transparent;
    font-weight: 500;
}

#users {
    text-align: center;
    color: blue;
    font-size: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    /* width: 1vw; */
}

#users td,
#users th {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 0.8rem;
}

#users td {
    color: black;
}

#season,
#weekly {
    /* padding: 0.5rem 0rem 0.5rem 0rem; */
    /* margin-top: 1.4rem; */
    /* margin-left: 5rem; */
    font-size: 1rem;
    border: none;
    text-decoration: none;
    background-color: transparent;
    color: black;
    cursor: pointer;
}

#weekly {
    margin-left: 0.5rem;
}

#season:hover,
#weekly:hover {
    border-bottom: 1px solid;
    padding-bottom: 1px;
}

#season:focus,
#weekly:focus {
    outline: 0;
}

#season {
    border-bottom: 1px solid;
    padding-bottom: 1px;
}

h2 {
    font-size: 1.3rem;
}


.LeaderboardSearchIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 10px;
}

input[type=search] {
    padding: 5px;
    padding-left: 0;
    border-style: none;
    background: transparent;
    font-size: 1rem;
}

input:focus {
    outline: none;
}

::placeholder {
    text-align: left;
}

.leaderboard>span {
    padding: 0.2rem 0.5rem;
    text-align: bottom;
}

.leaderboardtext {
    margin: 0;
}

@media only all and (max-width: 400px) {

    .table-items {
        font-size: 0.7rem;
    }

    /* .filterbuttons {
        margin-left: 1rem;
        margin-right: auto;
    } */

    input[type=search] {
        padding: 0;
    }

    .rightside {
        display: block;
    }
}

@media only screen and (min-width: 400px) and (max-width: 575px) {

    input[type=search] {
        padding: 0;
    }

    h2 {
        font-size: 0.9rem;
    }

    .leftside {
        display: flex;
        /* justify-content: space-between; */
    }

    .rightside {
        display: block;
    }

    /* #season,
    #weekly {
        padding: 0.4rem 0rem 0.4rem 0rem;
        /* margin-bottom: 3vw; */
        /* margin-top: 0.5rem; */
    /* } */

    #users {
        margin-top: 0;
    }



    .LeaderboardSearchIcon {
        margin: 0.3rem 0.5rem 0.3rem 0.5rem;
    }

    /* select {
        margin-top: 0;
        margin-left: 0.3rem;
        padding: 0.2rem 0.1rem 0.2rem 0.1rem;
    } */

}

/*small devices (landscape phones, 576px and up) */

@media only screen and (min-width: 576px) {
    .top {
        align-items: center;
        flex-direction: row;
        margin-bottom: 15px;
    }

    .Searchform {
        margin-left: 1rem;
        margin-top: 0;
        margin-bottom: 0;
        max-width: 200px;
        font-size: 16px;
    }

    .leaderboardtext {
        font-size: 18px;
    }
}


/*medium devices (tablets, 768px and up)*/
@media only screen and (min-width: 768px) {
    .Searchform {
        max-width: 200px;
        font-size: 18px;
    }

    input[type=search] {
        padding: 0;
    }

    h2 {
        font-size: 1rem;
    }

    .leftside {
        display: flex;
        justify-content: space-between;
    }

    .filterbuttons {
        display: flex;
        align-content: flex-end;
        float: right;
    }

    /* #season,
    #weekly {
        padding: 0.4rem 0rem 0.4rem 0rem;
        margin-top: 1rem;
        margin-bottom: 3vw;
    } */

    #season {
        margin-left: 1rem;
    }

}

@media only screen and (min-width: 992px) and (max-width: 1199px) {}

/*Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}