.top {
    display: flex;
    /* margin: 0rem 2rem 0rem 2rem; */
    justify-content: space-between;
}

.boards {
    display: flex;
    justify-content: center;

}

.leftside {
    display: flex;
    padding-left: 3%;
    padding-right: 3%;
    /* margin: auto; */
}

.Searchform {

    margin-top: 1rem;
    display: flex;
    margin-right: 3%;
    border: none;
    border: 2px;
    border-radius: 2px;
    box-shadow: 1px 1px 2px 0.5px;
    background-color: white;
    /* justify-content: right; */

}

#weekform {
    margin-top: 1rem;
    display: none;
}

select {
    margin-left: 1rem;
    width: 3rem;
    padding: 0.2rem 0.1rem 0.2rem 0.1rem;
    border: none;
    border-radius: 4px;
    color: black;
    font-weight: 700;
    font-size: 0.83em;
    background-color: white;
}

.friend-board {
    margin: auto;
    margin-top: 0;
}

.table-header {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    text-align: center;
    margin-top: 1rem;
}

.index {
    border-right: red;
}

.table-items {
    color: rgba(0, 0, 0, 0.87);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    vertical-align: inherit;
    text-align: center;
}

.leader-table {
    display: flex;
    padding-left: 3%;
    padding-right: 3%;
}

#users tr:nth-child(even) {
    /* background-color: #f2f2f2; */
    background-color: rgba(240, 194, 29, 0.05);
}

#users tr:hover {
    background-color: #ddd;
}

#users th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: var(--red);
    color: white;
}

#users {
    text-align: center;
    color: blue;
    font-size: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 93vw;
    margin-top: 1rem;
}

#users td,
#users th {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 10px;
}

#users th {
    border-color: transparent;
    font-weight: 500;
    /*Working font-weight for headers*/
}

#users td {
    color: black;
}

#season,
#weekly {
    padding: 0.5rem 0rem 0.5rem 0rem;
    margin-top: 1rem;
    margin-left: 5rem;
    font-size: 1rem;
    border: none;
    /* border-radius: 2px 2px 2px 2px; */
    text-decoration: none;
    background-color: transparent;
    color: black;
    /* box-shadow: 1px 1px 2px; */
    cursor: pointer;
}

#weekly {
    margin-left: 0.5rem;
}

#season:hover,
#weekly:hover {
    border-bottom: 1px solid;
}

#season:focus,
#weekly:focus {
    outline: 0;
}

#season {
    margin-left: 40rem;
    border-bottom: 1px solid;
}

h2 {
    font-size: 1.3rem;
}


.LeaderboardSearchIcon {
    margin: auto 1rem auto 1rem;
}

input[type=search] {
    padding: 10px;
    padding-left: 0;
    border-style: none;
    background: transparent;
}

input:focus {
    outline: none;
}

::placeholder {
    text-align: left;
}

.leaderboard>span {
    padding: 0.2rem 0.5rem;
    text-align: bottom;
}

.leaderboardtext {
    margin-top: 1.4rem;
}


@media only screen and (max-width: 575px) {

    .leaderboardtext {
        margin-top: 1rem;
        /* margin-bottom: 0; */
    }

    input[type=search] {
        padding: 0;
    }

    h2 {
        font-size: 0.9rem;
    }

    .Searchform {
        margin-top: 0;
        margin-bottom: 3vw;
        margin-left: 3%;
    }

    .top {
        display: block;
    }

    .leftside {
        display: flex;
        /* justify-content: space-between; */
    }

    .filterbuttons {
        display: flex;
        align-content: flex-end;
        float: right;
    }

    #season,
    #weekly {
        padding: 0.4rem 0rem 0.4rem 0rem;
        margin-bottom: 3vw;
        margin-top: 0.5rem;
    }

    #weekform {
        margin-left: 0;
    }

    #users {
        margin-top: 0;
    }

    #season {
        margin-left: 7.5rem;
    }

    .LeaderboardSearchIcon {
        margin: 0.3rem 0.5rem 0.3rem 0.5rem;
    }


    select {
        margin-left: 0.3rem;
        padding: 0.2rem 0.1rem 0.2rem 0.1rem;
    }

}

/*small devices (landscape phones, 576px and up) */

@media only screen and (min-width: 576px) and (max-width: 767px) {}


/*medium devices (tablets, 768px and up)*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .Searchform {
        margin-top: 1rem;
        margin-bottom: 3vw;
    }

    input[type=search] {
        padding: 0;
    }

    h2 {
        font-size: 1rem;
    }

    .Searchform {
        margin-top: 1rem;
        margin-bottom: 3vw;
    }

    .leftside {
        display: flex;
        justify-content: space-between;
    }

    .filterbuttons {
        display: flex;
        align-content: flex-end;
        float: right;
    }

    #season,
    #weekly {
        padding: 0.4rem 0rem 0.4rem 0rem;
        margin-top: 1rem;
        margin-bottom: 3vw;
    }

    #weekform {
        margin-left: 1rem;
    }

    #users {
        margin-top: 0;
    }

    #season {
        margin-left: 1rem;
    }

}

@media only screen and (min-width: 992px) and (max-width: 1199px) {}

/*Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}


/* @media only screen and (max-width: 1000px) {
    .leaderboardtext {
        width: auto;
    }


} */