.c-label {
  display: block;
  font: 75%/1.5 -apple-system, BlinkMacSystemFont;
  font-weight: 600;
  color: #606770;
}

.c-input--range {
  appearance: none;
  height: 4px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  /* width: 100%; */
}

.c-input--range:active,
.c-input--range:focus {
  background-color: #aac9ff;
}

.c-input--range::-webkit-slider-thumb {
  appearance: none;
  /* height: 16px;
  width: 16px; */
  display: block;
  background-color: #8d949e;
  border-radius: 100%;
}

.c-input--range:active::-webkit-slider-thumb,
.c-input--range:focus::-webkit-slider-thumb {
  background-color: #3578e5;
}

.betContainer {
  height: fit-content;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  margin-bottom: var(--spacing);
}

.wheelContainer {
  display: none;
}

.betWheel {

}

.button-container {
  border-radius: 3px;
  padding: 2px 0;
  background: var(--black);
  height: 40px;
  width: 100%;
}

.button-container-inner {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.betButton {
  -webkit-appearance: none;
  height: 100%;
  width: 100%;
  border: none;
  color: white;
  background: none;
  font-size: 15px;
  font-family: var(--main-font);
  cursor: pointer;
}

#betIndicator {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
}

.buttonContainer {
  margin-bottom: var(--spacing);
}

.button-container {
  margin-bottom: var(--spacing);
}



/* ==============  Responsive Changes  ================ */
/* Extra small devices (portrait phones, less than 576px) are accounted for above this line. No media query needed for phones since this is the default */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .wheelContainer {
    display: flex;
    justify-content: center;
  }

  .betButton {
    margin-bottom: 0;
  }

  .betContainer {
    margin-bottom: 0;
  }

  /* .button-container {
    border-radius: 3px;
    padding: 2px 0;
    background: var(--black);
    height: 40px;
  } */
  .button-container {
    margin-bottom: 0;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}