.splashContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.firstSplash {
  width: 100%;
  height: 95vh;
  background-image: url("../images/main-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#mainSplash {
  width: 100%;
  z-index: 0;
}

.infoBox {
  z-index: 1;
  position: absolute;
  margin-top: 4rem;
  margin-left: 4rem;
  top: 0;
  width: 30vw;
  height: 60vh;
  padding: 1rem;
  background-color: rgba(100%, 100%, 100%, 0.9);
}

#fullHomeList {
  list-style: none;
  padding-inline-start: 0;
  font-size: 30px;
  margin-bottom: 0.5rem;
  font-family: "Roboto", sans-serif;
  margin-left: 1rem;
}

.listText {
  margin-top: 0;
  margin-left: 0.5rem;
  margin-bottom: 0;
}

.runOn {
  margin-top: 0.2rem;
  margin-bottom: 0;
}

.homeList {
  margin-bottom: 2rem;
  font-size: 20px;
  display: flex;
  align-items: baseline;
}

.numberList {
  background: var(--black);
  border-radius: 100%;

  color: var(--white);
  width: 2.5rem;
  height: 2.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
  display: inline-block;
}

#joinCommunity {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

#buttonContainer {
  width: 100%;
  justify-content: center;
  display: flex;
}

#signUpButton {
  background-color: var(--red);
  padding: 1rem 2.5rem 1rem 2.5rem;
  color: var(--white);
  border: none;
  border-radius: 3px;
  position: absolute;
  bottom: 0;
  margin-bottom: 2.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

#blackboxSplash {
  width: 100%;
  margin-top: -14rem;
  height: 65vh;
  z-index: 1;
  background-image: url("../images/Divider_background.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.secondSplash {
  height: 100vh;
  background-image: url("../images/bottom-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.secondSplash::after {
  content: "";
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.3);
}

#overlayAbout {
  width: 100%;
  height: 100vh;

  z-index: 1;
  bottom: 0;
  top: 5rem;
  background-color: rgba(0, 0, 0, 0.4);
}

#gameSquareTitle {
  color: white;
  text-align: center;
  margin-top: 8rem;
  font-size: 40px;
}

#gameSquaresContainer {
  z-index: 2;
  width: 100%;
}

#smallSlice {
  width: 100%;
  color: var(--white);
  font-size: 20px;
  text-align: center;
  margin-top: 2rem;
}

.gameSquare {
  padding: 5rem;
  background-color: var(--white);
  width: 15vw;
  height: 25vh;
  cursor: pointer;
}

#squareContainer {
  display: flex;
  justify-content: space-evenly;
  padding-top: 1rem;
}

#gamesListButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

#gamesListButton {
  outline: none;
  background-color: transparent;
  border: solid;
  border-color: var(--grey);
  color: var(--white);
  padding: 1rem 2rem 1rem 2rem;
  text-decoration: none;
  font-size: 20px;
}

#aboutLandingContainer {
  display: flex;
  margin-top: 1rem;
  justify-content: space-evenly;
  width: 100%;
}

#aboutContainer {
  position: absolute;
  margin-top: 2rem;
  justify-content: space-evenly;
  width: 100%;
}

#aboutHeader {
  color: var(--white);
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.aboutLanding {
  width: 25%;
  background-color: var(--white);
  z-index: 2;
  word-wrap: break-word;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
  height: 30vh;
}

.aboutTitle {
  background-color: var(--black);
  color: var(--white);
  margin: 0;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  height: 4rem;
  align-items: center;
  justify-content: center;
  font-size: 23px;
  font-weight: bold;
}

.aboutWords {
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  line-height: 2rem;
  text-align: justify;
}

.aboutIcon {
  margin-right: 0.5rem;
}
