.selectionContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
  width: 50%;
}

.bet-selector-btn:nth-child(2) {
  margin-left: 15px;
}

.bet-selector-btn {
  display: block;
  color: var(--teamColor);
  cursor: pointer;
  width: calc(50% - var(--spacing));
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: var(--white);
  text-shadow: 0.5px 0.5px var(--black);
  font-size: 15px;
  font-weight: 400;
  margin-bottom: var(--spacing);
  transition: all .15s;
  border: 2px solid var(--teamColor);
}

.bet-selector-btn:hover {
  background-color: var(--teamColor);
  color: var(--white);
  border: none;
  transition: all .15s;
}

.active-btn {
  background-color: var(--teamColor);
  color: var(--white);
  border: none;
}

#home-team-selector {
  margin-left: calc(var(--spacing) / 2);
}

#away-team-selector {
  margin-right: calc(var(--spacing) / 2);
}

/* ==============  Responsive Changes  ================ */
/* Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .bet-selector-btn {
    margin-bottom: 0;
    width: 100%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}
