.selectionContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 3rem;
  width: 50%;
  margin-top: 1rem;
}

.bet-selector-btn {
  background: var(--white);
  display: block;
  color: var(--black);
  cursor: pointer;
  padding: 10px;
  width: 30%;
  border: none;
  border-radius: 5px;
  text-shadow: 0.5px 0.5px var(--black);
}
