.predictions {
  padding: 25px;
}

.predictionsTitle {
  margin-top: 0;
}

.pie {
  position: relative;
  overflow: hidden;
  width: 80%;
  border-radius: 100%;
  background: var(--away-color);
  background-image:
    linear-gradient(to right, transparent 50%, var(--home-color) 0);
  color: transparent;
  text-align: center;
}

.pie:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

@keyframes rotateHome {
  to { 
    transform: rotate(calc(var(--win-by-percentage) / 2 / 100 * 360deg)); 
    /* transform: rotate(180deg); */
  }
}
@keyframes rotateAway {
  from {
    transform: rotate(180deg);
  }
  to { 
    /* transform: rotate(calc(180 - var(--win-by-percentage) / 100 * 1deg));  */
    transform: rotate(calc(180deg - var(--win-by-percentage) / 2 / 100 * 360deg ));
  }
}

@keyframes bg {
  50% { background: #655; }
}


.animated-pie-away::before {
  content: "";
  position: absolute;
  top: 0; left: 50%;
  width: 50%; height: 100%;
  border-radius: 0 100% 100% 0 / 50%;
  /* Inherit for away team, and --home-team for when home team has more than 50% */
  /* Can use .25 turn which is equal to 90 deg or 25% of pie chart */
  background-color: var(--winning-team-color);
  transform-origin: left;
  /* animation: spin 1s linear forwards; */
  /* transform: rotate(calc(var(--losing-team-percent) * 0.01turn)); */
  animation: rotateAway 1s forwards;
}

.animated-pie-home::before {
  content: "";
  position: absolute;
  top: 0; left: 50%;
  width: 50%; height: 100%;
  border-radius: 0 100% 100% 0 / 50%;
  /* Inherit for away team, and --home-team for when home team has more than 50% */
  /* Can use .25 turn which is equal to 90 deg or 25% of pie chart */
  background-color: var(--winning-team-color);
  transform-origin: left;
  /* animation: spin 1s linear forwards; */
  /* transform: rotate(calc(var(--losing-team-percent) * 0.01turn)); */
  animation: rotateHome 1s forwards;
}

@keyframes animateAdditionalAwayGain {
  from {
    transform: rotate(calc(180deg - var(--win-by-percentage) / 2 / 100 * 360deg ));
  }
  to {
    /* Dynamically add  */
    transform: rotate(90deg); 
    /* transform: rotate(180deg); */
  }
}

@keyframes animateAdditionalHomeGain {
  from {
    transform: rotate(calc(180deg - var(--win-by-percentage) / 2 / 100 * 360deg ));
  }
  to {
    /* Dynamically add  */
    transform: rotate(250deg); 
    /* transform: rotate(180deg); */
  }
}

.animate-away-gain::before {
  content: "";
  position: absolute;

  animation: animateAdditionalAwayGain 1s forwards;
}

.animate-home-gain::before {
  content: "";
  position: absolute;

  animation: animateAdditionalHomeGain 1s forwards;
}

.teamPercentages {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.teamColorBlock {
  padding: 7px;
  border-radius: 3px;
  background: var(--teamColor, var(--black));
  font-family: var(--main-font);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.awayTeamPercentage {
  display: flex;
  flex-wrap: wrap-reverse;
  text-align: center;
  justify-content: center;
}

.homeTeamPercentage {
  display: flex;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.dot {
  height: 8px;
  width: 8px;
  margin: 0 15px;
  background: var(--black);
  border-radius: 100%;
}

.awayTeamName {
  display: flex;
  font-weight: 500;
  align-items: center;
  margin-right: 5px;
}

.homeTeamName {
  display: flex;
  font-weight: 500;
  align-items: center;
  margin-left: 5px;
}


/* SVG Pie Chart */
@keyframes fillup {
  to { stroke-dasharray: 158 158; }
}

/* .pie-chart-container {
  width: 100%;
}

.pie-chart-container::after {
  padding-bottom: 100%;
} */



circle {
  /* stroke: #655; */
  /* stroke-width: 32; */
  /* stroke-dasharray: 50 100; */
  /* animation: fillup 5s linear infinite; */
  transition: stroke-dasharray 1s;
}

 /* 0 158 means home team 0% */
 /* 101 158 means home team 100% */
.animate-circle {
  stroke-dasharray: 101 158;
}

.animate-other {
  stroke-dasharray: 0 158;
}

/* ==============  Responsive Changes  ================ */
/* Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .awayTeamPercentage {
    flex-wrap: nowrap;
  }
  
  .homeTeamPercentage {
    flex-wrap: nowrap;
  }

  .pie-chart {
    width: 80%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}